<div>
  <h3><%= t "items.categories" %></h3>
  <%= @categories.map { |c|  link_to( c.title, items_path(category: c.id), class: (@cat_param and @cat_param.include?(c.id.to_s))?"admin":"")}.join(" | ").html_safe  %>
</div>
<h1><%= t "helpers.links.page" %></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <% if @items.any? %>
          <% @items.each_with_index do |item, index| %>
              <div class="row">
                <div class="col-xs-9">#<%= index + 1 %>
                  <br>
                  <div class="col-xs-13"><h3><strong><%= item.name %></strong></h3></div>
                  <% a = truncate item.description, length: 500 %>
                  <div class="col-xs-7"><%= a %></div>
                  <div class="col-xs-5">
                    <div class="row">
                      <div class="col-xs-6"><strong><%= t "items.categories" %>:</strong></div>
                      <div class="col-xs-6"><%= link_to(item.category.title, items_path(category: [item.category.id])) %></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6"><strong><%= t "form.autor" %>:</strong></div>
                      <div class="col-xs-6"><%= link_to "#{item.user.nickname}", items_path(user_id: item.user.id) %> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="col-xs-2"><%= link_to ('<button class="btn btn-primary">' + "#{t "helpers.links.show"}" + '</button>').html_safe, item %></div>
                <div class="col-xs-4"><%= link_to ('<button class="btn btn-info">' + "#{t "items.get"}" + '</button>').html_safe, new_rent_path(item_id: item.id) %></div>

                <% if user_signed_in? %>
                    <% if ((item.user == current_user) && current_user.author?) || current_user.admin? %>
                        <div class="col-xs-2"><%= link_to ('<button class="btn btn-warning">' + "#{t "helpers.links.edit"}" + '</button>').html_safe, edit_item_path(item) %></div>
                        <div class="col-xs-2"><%= link_to ('<button class="btn btn-danger">' + "#{t "helpers.links.delete"}" + '</button>').html_safe, item, method: :delete, data: {confirm: 'Are you sure?'} %></div>
                    <% end %>
                <% end %>
              </div>
              <hr>
          <% end else %>
          <div class="col-xs-8">
            <strong> There are results</strong>
          </div>
      <% end %>

    </div>
    <div class="col-xs-3">
      <div class="well sidebar-nav">
        <h3><%= t "form.search"%></h3>
        <form action="<%= items_path %>" class="navbar-form" method="get">
          <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder=<%= t "form.search"%> value="<%= params[:q] %>">
            <% @categories.map do |f| %>
                <div>
                  <input type="checkbox" name="category[]" , value=<%= f.id %>>
                  <label><%= f.title %></label>
                </div>
            <% end %>
          </div>
          <h3><%= "#{t"form.date"}" %>:</h3>
          <div class="row">
            <div class=" col-sm-4 ">
              <span><%= "#{t"form.start"}" %>:</span>
            </div>
            <div class='col-sm-6 input-group date'>
              <input type='text' class="form-control"  id='datetimepicker3' name="beg_date"/>
            </div>
            <div class=" col-sm-4 ">
              <span><%= "#{t"form.end"}" %>:</span>
            </div>
            <div class='col-sm-6 input-group date'>
              <input type='text' class="form-control"  id='datetimepicker4' name="end _date"/>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-default"><%= t "form.search"%></button>
        </form>
      </div><!--/.well -->
    </div><!--/span-->
  </div>
</div>
</div>
<%= paginate @items %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'DD/MM/YYYY'
    });
        $('#datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYY',
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker3").on("dp.change", function (e) {
           $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
        });

        $("#datetimepicker4").on("dp.change", function (e) {
            $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>